@tailwind base;
@tailwind components;
@tailwind utilities;
.ml {
  margin-left: 48%;
  background: gray;
  padding: 20px;
  color: #fff;
  font-size: 23px;
  font-weight: bold;
  margin-top: 33%;
}
.grids {
  justify-content: center !important;
}
.mx {
  margin-left: 3rem
}